
<style>

    .tdNom {
        background-color :#C6C1FF;
            border-left: solid #F2F2F2 1.0pt; 
        border-bottom: solid #F2F2F2 1.0pt; 
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif; 
        padding: 0cm 3.0pt 0cm 3.0pt; 
        height: 12.0pt;

    }
    .tdDat {
       padding:5px 1px;
       text-align:left; 
       font-size: 9pt;
       font-family: Arial, Helvetica, sans-serif;
    }

</style>
<div style="width: 670px">
    <div layout="row">
        <div flex>
            <div id="tableContainer" class="row text-center">
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td colspan="3" align="center" bgcolor="#FFFFFF">
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td height="30" colspan="3" align="center" bgcolor="#DEE4E9">
                            <span style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #012D59;
                        font-weight: bold;">Servicios privados no financieros</span>
                        </td>
                    </tr>
                </table>
                <table class="table-au" width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td bgcolor="#C6C1FF" style="border-left: solid #F2F2F2 1.0pt;border-bottom: solid #F2F2F2 1.0pt;font-size: 9pt;font-family: Arial, Helvetica, sans-serif;padding: 0cm 3.0pt 0cm 3.0pt;height: 12.0pt;">&nbsp;</td>
                        <td colspan="13" bgcolor="#C6C1FF" style="border-left: solid #F2F2F2 1.0pt; border-bottom: solid #F2F2F2 1.0pt;font-size: 9pt;font-family: Arial, Helvetica, sans-serif;text-align:center;padding: 5px 2px; height: 12.0pt"><strong>Índice (base 2008=100)</strong></td>
                    </tr>
                    <tr>
                        <td class="tdNom">&nbsp;</td>
                        <td class="tdNom" style="text-align:center;" colspan="{{cols}}">{{anio}}</td>
                        <td class="tdNom" style="text-align:center;">{{anioAct}}</td>
                    </tr>
                    <tr style="text-align:center">
                        <td class="tdNom" style="width:175px;height:27px;">Variable</td>
                        <td class="tdNom" ng-repeat="m in meses track by $index" ng-hide="m == ''">{{m}}</td>
                    </tr>
                    <tr ng-repeat="x in indice track by $index">
                        <td class="tdDat" ng-repeat="i in x track by $index" ng-hide="i == ''">{{i}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <br />
    <div layout="row">
        <div flex>
            <div id="tableContainer" class="row text-center">

                <table class="table-au" id="tabla" width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td bgcolor="#C6C1FF" style="border-left: solid #F2F2F2 1.0pt;border-bottom: solid #F2F2F2 1.0pt;font-size: 9pt;font-family: Arial, Helvetica, sans-serif;padding: 0cm 3.0pt 0cm 3.0pt;height: 12.0pt;">&nbsp;</td>
                        <td colspan="13" bgcolor="#C6C1FF" style="border-left: solid #F2F2F2 1.0pt; border-bottom: solid #F2F2F2 1.0pt;font-size: 9pt;font-family: Arial, Helvetica, sans-serif;text-align:center;padding: 5px 2px; height: 12.0pt"><strong>Variación anual</strong></td>
                    </tr>
                    <tr>
                        <td class="tdNom">&nbsp;</td>
                        <td class="tdNom" style="text-align:center;" colspan="{{cols}}">{{anio}}</td>
                        <td class="tdNom" style="text-align:center;">{{anioAct}}</td>
                    </tr>
                    <tr style="text-align:center">
                        <td class="tdNom" style="width:175px;height:27px;">Variable</td>
                        <td class="tdNom" ng-repeat="m in meses track by $index" ng-hide="m == ''">{{m}}</td>
                    </tr>
                    <tr ng-repeat="x in variacion track by $index">
                        <td class="tdDat" ng-repeat="i in x track by $index" ng-hide="i == ''">{{i}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <br />
    <div layout="row">
        <div flex>
            <div id="graph1" style="text-align:center"></div>
        </div>
    </div>
    <br />
    <div layout="row" ng-controller="granjero">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td height="30" align="center" bgcolor="#dee4e9" colspan="3">
                        <span style="color: rgb(1, 45, 89); font-family: Arial, Helvetica, sans-serif; font-size: 13px; font-weight: bold;">Principales variables</span>
                    </td>
                </tr>
                <tr>
                    <td align="left" valign="middle" bgcolor="#ffffff">
                        &nbsp;
                    </td>
                    <td align="left" valign="middle" bgcolor="#ffffff">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td width="150" align="left" valign="middle" bgcolor="#ffffff">
                        <span class="texto">Variable:</span>
                    </td>
                    <td align="left" valign="middle" bgcolor="#ffffff">
                        <div id="UpdatePanel3">
                            <select ng-model="vari" ng-change="getSectores(vari)" ng-options="v.descripcion for v in variables track by v.id_variable" style="width: 520px;">
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="left" valign="middle" bgcolor="#ffffff">
                        <span class="texto">Sector: </span>
                    </td>
                    <td align="left" valign="middle" bgcolor="#ffffff">
                        <div id="UpdatePanel1">
                            <select ng-model="sec" ng-change="getActividad(sec)" ng-options="v.descripcion for v in sectores track by v.id_variable" style="width: 520px;">
                        
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="left" valign="middle" bgcolor="#ffffff">
                        <span class="texto">Actividad económica:</span>
                    </td>
                    <td align="left" valign="middle" bgcolor="#ffffff">
                        <div id="UpdatePanel2">
                            <select ng-model="act" ng-options="v.descripcion for v in actividades track by v.id_variable" style="width: 520px;"></select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="left" valign="middle" bgcolor="#ffffff">
                        <span class="texto">Tipo de dato:</span>
                    </td>
                    <td align="left" valign="middle" bgcolor="#ffffff">
                        <div id="UpdatePanel4">
                            <table id="rblTipoDato">
                                <tbody>
                                    <tr>
                                        <td><input name="rblTipoDato" id="rblTipoDato_0" type="radio" value="Índice (base 2008=100)"><label>Índice (base 2008=100)</label></td>
                                    </tr>
                                    <tr>
                                        <td><input name="rblTipoDato" id="rblTipoDato_1" type="radio" checked="checked" value="Variación anual"><label>Variación anual</label></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="left" valign="middle" bgcolor="#ffffff">
                        &nbsp;
                    </td>
                    <td align="left" valign="middle" bgcolor="#ffffff">
                        &nbsp;
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
