
<style>

    .tdNom {
        background-color :#C6C1FF;
            border-left: solid #F2F2F2 1.0pt; 
        border-bottom: solid #F2F2F2 1.0pt; 
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif; 
        padding: 0cm 3.0pt 0cm 3.0pt; 
        height: 12.0pt;

    }
    .tdDat {
       padding:5px 1px;
       text-align:left; 
       font-size: 9pt;
       font-family: Arial, Helvetica, sans-serif;
    }

</style>
<div style="width: 670px">
    <div layout="row">
        <div flex>
            <div id="tableContainer" class="row text-center">
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td colspan="3" align="center" bgcolor="#FFFFFF">
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td height="30" colspan="3" align="center" bgcolor="#DEE4E9">
                            <span style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #012D59;
                        font-weight: bold;">Servicios privados no financieros</span>
                        </td>
                    </tr>
                </table>
                <table class="table-au" width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td bgcolor="#C6C1FF" style="border-left: solid #F2F2F2 1.0pt;border-bottom: solid #F2F2F2 1.0pt;font-size: 9pt;font-family: Arial, Helvetica, sans-serif;padding: 0cm 3.0pt 0cm 3.0pt;height: 12.0pt;">&nbsp;</td>
                        <td colspan="13" bgcolor="#C6C1FF" style="border-left: solid #F2F2F2 1.0pt; border-bottom: solid #F2F2F2 1.0pt;font-size: 9pt;font-family: Arial, Helvetica, sans-serif;text-align:center;padding: 5px 2px; height: 12.0pt"><strong>Índice (base 2008=100)</strong></td>
                    </tr>
                    <tr>
                        <td class="tdNom">&nbsp;</td>
                        <td class="tdNom" style="text-align:center;" colspan="{{cols}}">{{anio}}</td>
                        <td class="tdNom" style="text-align:center;">{{anioAct}}</td>
                    </tr>
                    <tr style="text-align:center">
                        <td class="tdNom" style="width:175px;height:27px;">Variable</td>
                        <td class="tdNom" ng-repeat="m in meses track by $index" ng-hide="m == ''">{{m}}</td>
                    </tr>
                    <tr ng-repeat="x in indice track by $index">
                        <td class="tdDat" ng-repeat="i in x track by $index" ng-hide="i == ''">{{i}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <br />
    <div layout="row">
        <div flex>
            <div id="tableContainer" class="row text-center">

                <table class="table-au" id="tabla" width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td bgcolor="#C6C1FF" style="border-left: solid #F2F2F2 1.0pt;border-bottom: solid #F2F2F2 1.0pt;font-size: 9pt;font-family: Arial, Helvetica, sans-serif;padding: 0cm 3.0pt 0cm 3.0pt;height: 12.0pt;">&nbsp;</td>
                        <td colspan="13" bgcolor="#C6C1FF" style="border-left: solid #F2F2F2 1.0pt; border-bottom: solid #F2F2F2 1.0pt;font-size: 9pt;font-family: Arial, Helvetica, sans-serif;text-align:center;padding: 5px 2px; height: 12.0pt"><strong>Variación anual</strong></td>
                    </tr>
                    <tr>
                        <td class="tdNom">&nbsp;</td>
                        <td class="tdNom" style="text-align:center;" colspan="{{cols}}">{{anio}}</td>
                        <td class="tdNom" style="text-align:center;">{{anioAct}}</td>
                    </tr>
                    <tr style="text-align:center">
                        <td class="tdNom" style="width:175px;height:27px;">Variable</td>
                        <td class="tdNom" ng-repeat="m in meses track by $index" ng-hide="m == ''">{{m}}</td>
                    </tr>
                    <tr ng-repeat="x in variacion track by $index">
                        <td class="tdDat" ng-repeat="i in x track by $index" ng-hide="i == ''">{{i}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <br />
    <div layout="row">
        <div flex>
            <div id="graph1" style="text-align:center"></div>
        </div>
    </div>
</div>
